@use 'abstract' as *;

.bg{
    display: block;
    background-image: url('../public/bg.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    position: relative;
}
.banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 0 4rem;
    height: 100vh;
}

.banner_desc {
    color: var(--clr-neutral-100);
    margin-bottom: 2rem;

    h1 {
        text-transform: uppercase;
        // width: 22ch;
        // font-size: 1rem;
        line-height: 1;
        font-weight: 600;
        margin-block: 0.5em;
        overflow-wrap: break-word;
        @include mq(small){
            font-size: 2rem;
        }
    }

    p {
        font-size: var(--ff-small-300);
        margin-bottom: 0.5em;
    }


}

.cta {
    color: var(--clr-primary-300);
    font-weight: 900;
    background-color: var(--clr-neutral-100);
    position: relative;
    margin-block: 1em;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5em;
    border: 2px solid transparent;
    z-index: 0;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background: var(--clr-neutral-200);
        z-index: -5;
        transform: skewX(45deg) scaleX(0.5);
        transition: left 500ms linear;
    }

    &:hover:before {
        left: 100%;
    }
}

@media screen and (max-width: 650px) {
    .banner_desc{
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .banner_desc h1 {
        width: fit-content;
        font-size: var(--ff-big-600);
    }

    .banner_desc>p {
        font-size: 1rem;
        text-align: justify;
    }

}