@use 'abstract' as*;

#services {
  margin-bottom: 3em;
}


.grid_container {
  color: var(--clr-neutral-100);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-block: auto;
  & > *{
    flex: 1 0 100%;
  }
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.desc {
  grid-area: desc;
  &_title{
    font-size: var(--ff-big-600);
    color: var(--clr-primary-300);
    // margin-block: 1em;
  }
  p{
    // margin-block: 1em;
    text-align: justify;
  }
  @media (max-width:40em){
    text-align: center;
  }
}

.card{
  font-size: var(--ff-big-400);
  font-family: var(--fam-primary);

  // padding: 1em;
  display: flex;
  flex-direction: column;
  margin-block:auto;
  justify-content: center;
  align-items: center;
  min-height: 8em;
  transition: transform 250ms ease-in;

  &:first-child{
    width: 15ch;
  }
  // &:hover{
  //   transform: scale(0.9);
  // }
}